In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [2]:
# Generic inputs for most ML tasks
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn import tree
import graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
import xgboost as xgb

pd.options.display.float_format = '{:,.2f}'.format

# setup interactive notebook mode
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from IPython.display import display, HTML

/var/folders/k7/38v84p457m70dh2vksct50j80000gn/T/ipykernel_73613/4262510003.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
from datetime import datetime

def to_minutes(x):
    h,m = x.split(':')
    return int(h)*60 + int(m)

def findDayOfWeek(dateStr):
    date_object = datetime.strptime(dateStr, '%m/%d/%Y')
    dayOfWeek = date_object.strftime('%A')
    return dayOfWeek 

# findDayOfWeek('01/01/2006')

def flightNoStr(x):
    return str(int(x))

def classifyDelay(delay):
    if delay < -5:
        return 0 #flight is early
    elif delay > 5:
        return 1 #flight is delayed
    else:
        return 2 #flight is ontime
# def calculateDepTime()

In [4]:
# jetblue_B6_116_dep_time_range = (735, 885) #13:25= 13*60+25 - 70 min buffer or 13:35 = 13*60+35 + 70 minute buffer
import os, re, json
from pathlib import Path
from openpyxl import load_workbook
RawDataProcessing = True
airport_on_time_dep_pct = {}

In [5]:
# Airport on time departure percentage data
# Replace 'your_file.xlsx' with the path to your Excel file
file_path = 'data/airport-ranking-on-time-dep/airport-ranking-on-time-dep-train.xlsx'

# Load the Excel workbook
workbook = load_workbook(file_path)

# Get the names of all worksheets
sheet_names = workbook.sheetnames

# Read data from each worksheet
for sheet_name in sheet_names:
    # Access each worksheet by its name
    worksheet = workbook[sheet_name]

    if int(sheet_name) < 2006:
        continue
    # Print the name of the current worksheet
    print(f"Reading data from '{sheet_name}'")
    year = sheet_name #Sheet name is the year
    # airport_on_time_dep_pct[year]={} 
    
    # Iterate through all rows and columns
    it = 0
    airport_data = {}
    # airport_data['MCO'] = -1
    # airport_data['JFK'] = -1
    # airport_data['ORD'] = -1
    data_found = 0
    for row in worksheet.iter_rows(values_only=True):
        # if it < 3:
        #     it += 1
        #     continue
        # each row is a tuple, you can access each
        row_arr = list(row)
        # print(row_arr)
        # if len(row_arr) != 6:
        #     print('skipping metadata')
        #     it += 1
        #     continue;
            
        if it == 0:
            if year in row_arr[4]:
                print('file format is okay')
                it += 1
                continue
            else:
                print('Major error in the the format of this specific worksheet')
                break
        if 'Bureau of Transportation Statistics' in str(row):
            break
        
        airport_details = row_arr[4]
        # print(airport_details)
        match = re.search(r'\((.*?)\)', airport_details)
        if match:
            airport_code = match.group(1)
            airport_dep_pct = round(float(row_arr[5]), 2)
            if airport_code == 'MCO':
                airport_data[airport_code] = airport_dep_pct
                data_found += 1
            if airport_code == 'JFK':
                airport_data[airport_code] = airport_dep_pct
                data_found += 1
            if airport_code == 'ORD':
                airport_data[airport_code] = airport_dep_pct
                data_found += 1
        else:
            print("No substring found inside parentheses.")
        if data_found == 3:
            break;
        it += 1
    airport_on_time_dep_pct[year] = airport_data
        # print(airport_code)  # or process row data as needed

# Close the workbook
workbook.close()

# json.dump(airport_on_time_dep_pct, indent=4)

Reading data from '2023'
file format is okay
Reading data from '2022'
file format is okay
Reading data from '2021'
file format is okay
Reading data from '2020'
file format is okay
Reading data from '2019'
file format is okay
Reading data from '2018'
file format is okay
Reading data from '2017'
file format is okay
Reading data from '2016'
file format is okay
Reading data from '2015'
file format is okay
Reading data from '2014'
file format is okay
Reading data from '2013'
file format is okay
Reading data from '2012'
file format is okay
Reading data from '2011'
file format is okay
Reading data from '2010'
file format is okay
Reading data from '2009'
file format is okay
Reading data from '2008'
file format is okay
Reading data from '2007'
file format is okay
Reading data from '2006'
file format is okay

In [6]:
# Airport on time departure percentage data
# Replace 'your_file.xlsx' with the path to your Excel file
file_path = 'data/airport-ranking-on-time-dep/airport-ranking-on-time-dep-test.xlsx'

# Load the Excel workbook
workbook = load_workbook(file_path)

# Get the names of all worksheets
sheet_names = workbook.sheetnames

# Read data from each worksheet
for sheet_name in sheet_names:
    # Access each worksheet by its name
    worksheet = workbook[sheet_name]

    if int(sheet_name) < 2006:
        continue
    # Print the name of the current worksheet
    print(f"Reading data from '{sheet_name}'")
    year = sheet_name #Sheet name is the year
    # airport_on_time_dep_pct[year]={} 
    
    # Iterate through all rows and columns
    it = 0
    airport_data = {}
    # airport_data['MCO'] = -1
    # airport_data['JFK'] = -1
    # airport_data['ORD'] = -1
    data_found = 0
    for row in worksheet.iter_rows(values_only=True):
        # if it < 3:
        #     it += 1
        #     continue
        # each row is a tuple, you can access each
        row_arr = list(row)
        # print(row_arr)
        # if len(row_arr) != 6:
        #     print('skipping metadata')
        #     it += 1
        #     continue;
            
        if it == 0:
            if year in row_arr[4]:
                print('file format is okay')
                it += 1
                continue
            else:
                print('Major error in the the format of this specific worksheet')
                break
        if 'Bureau of Transportation Statistics' in str(row):
            break
        
        airport_details = row_arr[4]
        # print(airport_details)
        match = re.search(r'\((.*?)\)', airport_details)
        if match:
            airport_code = match.group(1)
            airport_dep_pct = round(float(row_arr[5]), 2)
            if airport_code == 'MCO':
                airport_data[airport_code] = airport_dep_pct
                data_found += 1
            if airport_code == 'JFK':
                airport_data[airport_code] = airport_dep_pct
                data_found += 1
            if airport_code == 'ORD':
                airport_data[airport_code] = airport_dep_pct
                data_found += 1
        else:
            print("No substring found inside parentheses.")
        if data_found == 3:
            break;
        it += 1
    airport_on_time_dep_pct[year] = airport_data
        # print(airport_code)  # or process row data as needed

# Close the workbook
workbook.close()

Reading data from '2024'
file format is okay

In [7]:
# Add airline arrival on time percentage column
with open('airport_on_time_dep_pct.json', 'w') as json_file:
    json.dump(airport_on_time_dep_pct, json_file, indent=4)

# json.dump(airport_on_time_dep_pct, indent=4)

In [8]:
import csv

list_of_airlines = []
airline_name_code_map = {}
dataDir = 'data/arrivals/'
fileNames = os.listdir(dataDir)
for file in fileNames:
    filePath = dataDir + file
    # print('Processing file {}'.format(filePath))
    if Path(filePath).is_dir():
        print('Skipping the directory {}'.format(filePath))
        continue
    airline_name = file.split('_')[0]
    list_of_airlines.append(airline_name)
    # airline_code = ''
    with open(filePath, 'r', newline='') as csv_file:
        # Create a CSV reader object
        csv_reader = csv.reader(csv_file)
        
        # Read the first row
        head_row = next(csv_reader)
        first_row = next(csv_reader)
        airline_code = first_row[0]
        airline_name_code_map[airline_name] = airline_code
        # Print the first row
        print(first_row)
print(list_of_airlines)
print(airline_name_code_map)

['YV', '03/01/2006', '7245', 'N77195', 'IAD', '13:59', '13:51', '74', '76', '-8', '13:46', '5', '0', '0', '0', '0', '0']
['B6', '03/01/2006', '0022', 'N523JB', 'JFK', '23:59', '23:58', '64', '63', '-1', '23:54', '4', '0', '0', '0', '0', '0']
['9E', '03/01/2010', '3726', '85809E', 'DTW', '08:47', '08:43', '87', '79', '-4', '08:40', '3', '0', '0', '0', '0', '0']
['WN', '03/01/2022', '0207', 'N253WN', 'BWI', '13:10', '13:08', '75', '59', '-2', '13:06', '2', '0', '0', '0', '0', '0']
['UA', '03/01/2019', '0607', 'N803UA', 'ORD', '21:20', '21:40', '105', '94', '20', '21:37', '3', '1', '0', '0', '0', '19']
['OH', '03/01/2006', '5144', 'N592SW', 'CVG', '16:36', '16:33', '96', '93', '-3', '16:30', '3', '0', '0', '0', '0', '0']
['MQ', '03/01/2006', '3865', 'N523AE', 'DFW', '14:54', '15:10', '184', '195', '16', '15:06', '4', '0', '0', '16', '0', '0']
['OO', '03/01/2006', '5802', 'N760SK', 'ORD', '23:52', '23:41', '102', '94', '-11', '23:36', '5', '0', '0', '0', '0', '0']
Skipping the directory data/arrivals/.ipynb_checkpoints
['YX', '03/01/2018', '3516', '', 'EWR', '22:52', '00:00', '82', '0', '0', '00:00', '0', '0', '0', '0', '0', '0']
['AA', '03/01/2016', '1971', 'N105UW', 'CLT', '00:11', '23:59', '106', '98', '-12', '23:56', '3', '0', '0', '0', '0', '0']
['DL', '03/01/2006', '0613', 'N943DL', 'ATL', '11:29', '11:42', '129', '141', '13', '11:36', '6', '0', '0', '0', '0', '0']
['Mesa', 'JetBlue', 'Endeavor', 'Southwest', 'United', 'PSA', 'Envoy', 'Skywest', 'Republic', 'American', 'Delta']
{'Mesa': 'YV', 'JetBlue': 'B6', 'Endeavor': '9E', 'Southwest': 'WN', 'United': 'UA', 'PSA': 'OH', 'Envoy': 'MQ', 'Skywest': 'OO', 'Republic': 'YX', 'American': 'AA', 'Delta': 'DL'}

In [9]:
airline_on_time_arr_pct_data = {}

In [10]:
# Airport on time departure percentage data
# Replace 'your_file.xlsx' with the path to your Excel file
file_path = 'data/airline-on-time-arrival-pct/airline-on-time-pct-2023.xlsx'

# Load the Excel workbook
workbook = load_workbook(file_path)

# Get the names of all worksheets
sheet_names = workbook.sheetnames

# Read data from each worksheet
for sheet_name in sheet_names:
    # Access each worksheet by its name
    worksheet = workbook[sheet_name]
    print(f"Reading data from '{sheet_name}'")

    names = sheet_name.split()
    if len(names) > 1:
        if 'Marketing' in names[0]:
            print('Skipping this sheet, as it contains marketing on time arrival percentage')
            continue
        else:
            year = names[1]
    else:
        year = names[0]

    if int(year) < 2006:
        print('Skipping years earlier than 2006')
        continue

    # Iterate through all rows and columns
    it = 0
    airline_data = {}
    metadata_str = ['Reporting Operating Airline On-Time Arrival','On-Time Arrival Pct',
                    'Source: Bureau of Transportation Statistics', 'All Carriers',
                   'branded code-share partners', 'stopped codesharing', ' ceased operations',
                    'combined reporting', 'ranked based on', 'stopped reporting']
    for row in worksheet.iter_rows(values_only=True):
        row_str = " ".join(str(element) for element in row)
        
        skiprow = False
        for s in metadata_str:
            s = s.lower()
            if s in row_str.lower():
                skiprow= True
            if all(element == None for element in row):
                skiprow=True
        if skiprow:
            continue
        print(row_str)
        
        row_arr = list(row)
        
        airline_name = row_arr[1]
        
        if '*' in airline_name:
            airline_name = ''.join([char for char in airline_name if char != '*'])
            print('after removing start airline name {}'.format(airline_name))
        
        airline_name_first = airline_name.split()[0]

        substring_found = False
        
        for element in list_of_airlines:
            if airline_name_first.lower() == element.lower():
                airline_name_first = element
                substring_found = True
        
        # any(airline_name_first.lower() in element.lower() for element in list_of_airlines)
        
        if not substring_found:
            print('{} not in our dataset'.format(airline_name))
            continue
        
        airline_on_time_arrival_pct = round(float(row_arr[2]), 2)
        airline_data[airline_name_first] = airline_on_time_arrival_pct
    
    airline_on_time_arr_pct_data[year] = airline_data

# Close the workbook
workbook.close()
print(airline_on_time_arr_pct_data)
# json.dump(airport_on_time_dep_pct, indent=4)

Reading data from '2003'
Skipping years earlier than 2006
Reading data from '2004'
Skipping years earlier than 2006
Reading data from '2005'
Skipping years earlier than 2006
Reading data from '2006'
1 Hawaiian   93.75
Hawaiian   not in our dataset
2 Aloha 89.97
Aloha not in our dataset
3 Frontier 80.72
Frontier not in our dataset
4 Southwest  80.23
5 US Airways 76.85
US Airways not in our dataset
6 SkyWest   76.78
7 Delta  76.3
8 Northwest  75.82
Northwest  not in our dataset
9 American   75.55
10 AirTran 74.62
AirTran not in our dataset
11 United  73.86
12 Comair 73.77
Comair not in our dataset
13 Continental  73.42
Continental  not in our dataset
14 JetBlue  73.33
15 Alaska   73.28
Alaska   not in our dataset
16 ExpressJet   73.28
ExpressJet   not in our dataset
17 Mesa 72.9
18 American Eagle  71.48
19 ATA 69.44
ATA not in our dataset
20 Atlantic Southeast  66
Atlantic Southeast  not in our dataset
None All Airlines 75.45
All Airlines not in our dataset
Reading data from '2007'
1 Hawaiian   93.29
Hawaiian   not in our dataset
2 Aloha 92.25
Aloha not in our dataset
3 Southwest  80.12
4 Frontier   77.61
Frontier   not in our dataset
5 Delta  76.89
6 AirTran   76.81
AirTran   not in our dataset
7 Pinnacle  76.3
Pinnacle  not in our dataset
8 SkyWest   75.68
9 Continental  74.34
Continental  not in our dataset
10 ExpressJet   73.77
ExpressJet   not in our dataset
11 Mesa   73.1
12 Alaska   72.38
Alaska   not in our dataset
13 United  70.33
14 JetBlue  70.1
15 Northwest  69.62
Northwest  not in our dataset
16 American Eagle  69.13
17 American   68.74
18 US Airways 68.71
US Airways not in our dataset
19 Comair  67.86
Comair  not in our dataset
20 Atlantic Southeast  64.73
Atlantic Southeast  not in our dataset
None All Airlines 73.42
All Airlines not in our dataset
Reading data from '2008'
1 Hawaiian   89.97
Hawaiian   not in our dataset
2 Southwest  80.48
3 US Airways 80.06
US Airways not in our dataset
4 Pinnacle  79.55
Pinnacle  not in our dataset
5 Frontier   78.98
Frontier   not in our dataset
6 SkyWest   78.97
7 Alaska   78.29
Alaska   not in our dataset
8 Northwest  76.77
Northwest  not in our dataset
9 AirTran   76.73
AirTran   not in our dataset
10 Delta  76.36
11 Atlantic Southeast  74.24
Atlantic Southeast  not in our dataset
12 Continental  73.98
Continental  not in our dataset
13 ExpressJet   73.57
ExpressJet   not in our dataset
14 Mesa   72.95
15 JetBlue  72.87
16 American Eagle  72.85
17 United  71.61
18 Comair  69.92
Comair  not in our dataset
19 American   69.84
20 Aloha*  94.33
after removing start airline name Aloha
Aloha  not in our dataset
None All Airlines 76.04
All Airlines not in our dataset
Reading data from '2009'
1 Hawaiian   92.06 None None None None None None None
Hawaiian   not in our dataset
2 Southwest  83 None None None None None None None
3 Alaska   82.91 None None None None None None None
Alaska   not in our dataset
4 Pinnacle  82.54 None None None None None None None
Pinnacle  not in our dataset
5 SkyWest   82.11 None None None None None None None
6 United  80.98 None None None None None None None
7 US Airways 80.87 None None None None None None None
US Airways not in our dataset
8 Northwest  79.15 None None None None None None None
Northwest  not in our dataset
9 Mesa   79.13 None None None None None None None
10 Continental  78.77 None None None None None None None
Continental  not in our dataset
11 ExpressJet   78.72 None None None None None None None
ExpressJet   not in our dataset
12 Delta  78.56 None None None None None None None
13 Frontier   78.3 None None None None None None None
Frontier   not in our dataset
14 JetBlue  77.45 None None None None None None None
15 American Eagle  77.22 None None None None None None None
16 American   77.21 None None None None None None None
17 AirTran   75.79 None None None None None None None
AirTran   not in our dataset
18 Atlantic Southeast  71.24 None None None None None None None
Atlantic Southeast  not in our dataset
19 Comair  69.02 None None None None None None None
Comair  not in our dataset
None All Airlines 79.49 None None None None None None None
All Airlines not in our dataset
Reading data from '2010'
1 Hawaiian   92.47 None None None None None None None
Hawaiian   not in our dataset
2 Alaska   87.56 None None None None None None None
Alaska   not in our dataset
3 United  85.16 None None None None None None None
4 Mesa   83.32 None None None None None None None
5 US Airways 83.03 None None None None None None None
US Airways not in our dataset
6 AirTran   82.84 None None None None None None None
AirTran   not in our dataset
7 Continental  81.42 None None None None None None None
Continental  not in our dataset
8 Frontier   81.41 None None None None None None None
Frontier   not in our dataset
9 American   79.63 None None None None None None None
10 Southwest  79.46 None None None None None None None
11 Atlantic Southeast  79.24 None None None None None None None
Atlantic Southeast  not in our dataset
12 SkyWest   79.05 None None None None None None None
13 Pinnacle  78.49 None None None None None None None
Pinnacle  not in our dataset
14 ExpressJet   77.77 None None None None None None None
ExpressJet   not in our dataset
15 Delta  77.37 None None None None None None None
16 American Eagle  77.05 None None None None None None None
17 JetBlue  75.68 None None None None None None None
18 Comair  73.12 None None None None None None None
Comair  not in our dataset
None All Airlines 79.79 None None None None None None None
All Airlines not in our dataset
Reading data from '2011'
1 Hawaiian   92.78 None None None None None None None
Hawaiian   not in our dataset
2 Alaska   88.2 None None None None None None None
Alaska   not in our dataset
3 AirTran   84.43 None None None None None None None
AirTran   not in our dataset
4 Mesa   83.73 None None None None None None None
5 Continental  82.29 None None None None None None None
Continental  not in our dataset
6 Southwest  81.33 None None None None None None None
7 United  80.16 None None None None None None None
8 US Airways 79.79 None None None None None None None
US Airways not in our dataset
9 SkyWest   79.34 None None None None None None None
10 Frontier   79.16 None None None None None None None
Frontier   not in our dataset
11 American   77.79 None None None None None None None
12 Atlantic Southeast  77.13 None None None None None None None
Atlantic Southeast  not in our dataset
13 American Eagle  76.35 None None None None None None None
14 Delta  75.15 None None None None None None None
15 ExpressJet   74.67 None None None None None None None
ExpressJet   not in our dataset
16 JetBlue  73.34 None None None None None None None
None All Airlines 79.62 None None None None None None None
All Airlines not in our dataset
Reading data from '2012'
1 Hawaiian   93.38 None None None None None None None
Hawaiian   not in our dataset
2 Alaska   87.52 None None None None None None None
Alaska   not in our dataset
3 AirTran   87.09 None None None None None None None
AirTran   not in our dataset
4 Delta  86.54 None None None None None None None
5 US Airways 85.88 None None None None None None None
US Airways not in our dataset
6 Mesa   85 None None None None None None None
7 Virgin America 83.45 None None None None None None None
Virgin America not in our dataset
8 Southwest  83.13 None None None None None None None
9 American Eagle  81.60565583125502 None None None None None None None
10 SkyWest   81.60552062626668 None None None None None None None
11 JetBlue  79.13 None None None None None None None
12 Frontier   77.93 None None None None None None None
Frontier   not in our dataset
13 United  77.35 None None None None None None None
14 American   76.94 None None None None None None None
15 ExpressJet   76.89 None None None None None None None
ExpressJet   not in our dataset
None All Airlines 81.85 None None None None None None None
All Airlines not in our dataset
Reading data from '2013'
1 Hawaiian   93.32 None None None None None None None None None
Hawaiian   not in our dataset
2 Alaska   87.16 None None None None None None None None None
Alaska   not in our dataset
3 Delta  84.51 None None None None None None None None None
4 Virgin America 82.07 None None None None None None None None None
Virgin America not in our dataset
5 US Airways 81.47 None None None None None None None None None
US Airways not in our dataset
6 Endeavor 80.27 None None None None None None None None None
7 SkyWest   79.66 None None None None None None None None None
8 AirTran   79.45 None None None None None None None None None
AirTran   not in our dataset
9 United  79.27 None None None None None None None None None
10 American   77.62 None None None None None None None None None
11 Mesa   77.39 None None None None None None None None None
12 Southwest  76.7 None None None None None None None None None
13 JetBlue  74.44 None None None None None None None None None
14 Frontier   73.08 None None None None None None None None None
Frontier   not in our dataset
15 ExpressJet   72.75 None None None None None None None None None
ExpressJet   not in our dataset
16 American Eagle  72.1 None None None None None None None None None
None All Airlines 78.34 None None None None None None None None None
All Airlines not in our dataset
Reading data from '2014'
1 Hawaiian   91.89 None None None None
Hawaiian   not in our dataset
2 Alaska   86.16 None None None None
Alaska   not in our dataset
3 Delta  83.71 None None None None
4 Virgin America 81.48 None None None None
Virgin America not in our dataset
5 AirTran   80.89 None None None None
AirTran   not in our dataset
6 US Airways 80.69 None None None None
US Airways not in our dataset
7 SkyWest   76.35 None None None None
8 United  75.99 None None None None
9 American   75.79 None None None None
10 JetBlue  75.43 None None None None
11 Frontier   74.07 None None None None
Frontier   not in our dataset
12 Southwest  73.01 None None None None
13 ExpressJet   70.75 None None None None
ExpressJet   not in our dataset
14 Envoy 68.79 None None None None
None All Airlines 76.25 None None None None
All Airlines not in our dataset
Reading data from '2015'
1 Hawaiian 88.4
Hawaiian not in our dataset
2 Alaska  86.42
Alaska  not in our dataset
3 Delta  85.89
4 Combined American-US Airways 80.06172819479636
Combined American-US Airways not in our dataset
None    American   80.25741614140256
None    US Airways* 79.3468032106283
after removing start airline name    US Airways
   US Airways not in our dataset
5 Virgin America 79.92
Virgin America not in our dataset
6 SkyWest  79.72
7 Southwest  79.71
8 United  78.15
9 ExpressJet  77.9
ExpressJet  not in our dataset
10 JetBlue 75.97
11 Envoy  74.07
12 Frontier 73.23
Frontier not in our dataset
13 Spirit  68.98
Spirit  not in our dataset
None All Airlines 79.92
All Airlines not in our dataset
Reading data from '2016'
1 Hawaiian   91.08 None None
Hawaiian   not in our dataset
2 Alaska   87.33 None None
Alaska   not in our dataset
3 Delta  86.48 None None
4 SkyWest   82.28 None None
5 United  81.71 None None
6 Southwest 80.8 None None
7 ExpressJet   79.81 None None
ExpressJet   not in our dataset
8 American 79.38 None None
9 Virgin America 76.21 None None
Virgin America not in our dataset
10 Frontier   76.02 None None
Frontier   not in our dataset
11 JetBlue  75.01 None None
12 Spirit 74.32 None None
Spirit not in our dataset
None All Airlines 81.42 None None
All Airlines not in our dataset
Reading data from '2017'
1 Hawaiian   88.22 None None
Hawaiian   not in our dataset
2 Delta  85.4 None None
3 Alaska   82.55 None None
Alaska   not in our dataset
4 United  82.06 None None
5 American 80.35 None None
6 SkyWest   80.01 None None
7 Southwest 78.66 None None
8 Frontier   78.34 None None
Frontier   not in our dataset
9 ExpressJet   77.3 None None
ExpressJet   not in our dataset
10 Spirit 77.09 None None
Spirit not in our dataset
11 JetBlue  71.35 None None
12 Virgin America 70.01 None None
Virgin America not in our dataset
None All Airlines 80.18 None None
All Airlines not in our dataset
Reading data from 'Marketing 2018'
Skipping this sheet, as it contains marketing on time arrival percentage
Reading data from 'Operating 2018'
1 Hawaiian 89.28 None None
Hawaiian not in our dataset
2 Delta 85.71 None None
3 Alaska* 82.15434022571375 None None
after removing start airline name Alaska
Alaska not in our dataset
None   Alaska   82.48135383563707 None None
  Alaska   not in our dataset
None   Virgin America (1Q only) 77.60611205432937 None None
  Virgin America (1Q only) not in our dataset
4 Spirit 81.08 None None
Spirit not in our dataset
5 SkyWest  79.8 None None
6 United  79.68 None None
7 Endeavor 79.3 None None
8 Southwest 79.2 None None
9 Republic 78.57 None None
10 American 78.39 None None
11 Mesa 77.35 None None
12 Allegiant 76.87 None None
Allegiant not in our dataset
13 Envoy  76.82 None None
14 ExpressJet  76.45 None None
ExpressJet  not in our dataset
15 PSA  75.28 None None
16 JetBlue  70.96 None None
17 Frontier  69.39 None None
Frontier  not in our dataset
None All Airlines 79.38 None None
All Airlines not in our dataset
Reading data from 'Marketing 2019'
Skipping this sheet, as it contains marketing on time arrival percentage
Reading data from 'Operating 2019'
1 Hawaiian 88.34 None
Hawaiian not in our dataset
2 Delta 85.18 None
3 Endeavor 80.93 None
4 Alaska 80.3 None
Alaska not in our dataset
5 Southwest 80.24 None
6 Spirit 79.52 None
Spirit not in our dataset
7 SkyWest  79.23 None
8 Allegiant 78.73 None
Allegiant not in our dataset
9 Republic 78.66 None
10 PSA  78.09 None
11 United  77.74 None
12 American 77.01 None
13 Mesa 76.31 None
14 Envoy  76.09 None
15 JetBlue  73.5 None
16 Frontier  73.14 None
Frontier  not in our dataset
17 ExpressJet  70.64 None
ExpressJet  not in our dataset
None All Airlines 79.21 None
All Airlines not in our dataset
Reading data from 'Marketing 2020'
Skipping this sheet, as it contains marketing on time arrival percentage
Reading data from 'Operating 2020'
1 Endeavor 89.16 None
2 Hawaiian 87.97 None
Hawaiian not in our dataset
3 Republic 86.93 None
4 Spirit 86.61 None
Spirit not in our dataset
5 Delta 86.32 None
6 Southwest 85.98 None
7 SkyWest  85.89 None
8 Alaska 84.85 None
Alaska not in our dataset
9 Frontier  83.87 None
Frontier  not in our dataset
10 United  83.56 None
11 American 83.37 None
12 JetBlue  82.14 None
13 Envoy  81.98 None
14 ExpressJet*  81.84 None
after removing start airline name ExpressJet
ExpressJet  not in our dataset
15 Mesa 81.61 None
16 PSA  79.3 None
17 Allegiant 71.33 None
Allegiant not in our dataset
None All Airlines 84.63 None
All Airlines not in our dataset
Reading data from 'Marketing 2021'
Skipping this sheet, as it contains marketing on time arrival percentage
Reading data from 'Operating 2021'
1 Endeavor Air 90.98
2 Hawaiian Airlines 90.15
Hawaiian Airlines not in our dataset
3 Delta Air Lines 87.85
4 Horizon Air 85.26
Horizon Air not in our dataset
5 PSA Airlines 84.52
6 Republic Airways 84.35
7 SkyWest Airlines 82.45
8 Envoy Air 82.32
9 United Airlines 81.34
10 Alaska Airlines 81.22
Alaska Airlines not in our dataset
11 American Airlines 80.53
12 Mesa Airlines 77.14
13 Spirit Airlines 76.74
Spirit Airlines not in our dataset
14 Frontier Airlines 76.64
Frontier Airlines not in our dataset
15 Southwest Airlines 75.78
16 JetBlue Airways 72.31
17 Allegiant Air 68.26
Allegiant Air not in our dataset
Reading data from 'Marketing 2022'
Skipping this sheet, as it contains marketing on time arrival percentage
Reading data from 'Operating 2022'
1 Delta Air Lines 82.53
2 Horizon Air 81.79
Horizon Air not in our dataset
3 SkyWest Airlines 81.61
4 Envoy Air 80.65
5 Endeavor Air 80.53
6 United Airlines 79.01
7 PSA Airlines 77.96
8 Mesa Airlines 77.43
9 Alaska Airlines 77.28
Alaska Airlines not in our dataset
10 Republic Airways 76.42
11 Hawaiian Airlines 75.77
Hawaiian Airlines not in our dataset
12 American Airlines 74.94
13 Southwest Airlines 73.18
14 Spirit Airlines 72.96
Spirit Airlines not in our dataset
15 Frontier Airlines 66.1
Frontier Airlines not in our dataset
16 JetBlue Airways 64.63
17 Allegiant Air 63.39
Allegiant Air not in our dataset
Reading data from 'Marketing 2023'
Skipping this sheet, as it contains marketing on time arrival percentage
Reading data from 'Operating 2023'
1 Republic Airways 84.35
2 Endeavor Air 84.11
3 Delta Air Lines 82.61
4 SkyWest Airlines 82.46
5 PSA Airlines 82.06
6 Envoy Air 80.84
7 Alaska Airlines 79.48
Alaska Airlines not in our dataset
8 United Airlines 78.07
9 Southwest Airlines 77.25
10 American Airlines 75.94
11 Hawaiian Airlines 75.2
Hawaiian Airlines not in our dataset
12 Allegiant Air 73.37
Allegiant Air not in our dataset
13 Spirit Airlines  69.51
Spirit Airlines  not in our dataset
14 JetBlue Airways 67.08
15 Frontier Airlines 66.99
Frontier Airlines not in our dataset
{'2006': {'Southwest': 80.23, 'Skywest': 76.78, 'Delta': 76.3, 'American': 71.48, 'United': 73.86, 'JetBlue': 73.33, 'Mesa': 72.9}, '2007': {'Southwest': 80.12, 'Delta': 76.89, 'Skywest': 75.68, 'Mesa': 73.1, 'United': 70.33, 'JetBlue': 70.1, 'American': 68.74}, '2008': {'Southwest': 80.48, 'Skywest': 78.97, 'Delta': 76.36, 'Mesa': 72.95, 'JetBlue': 72.87, 'American': 69.84, 'United': 71.61}, '2009': {'Southwest': 83.0, 'Skywest': 82.11, 'United': 80.98, 'Mesa': 79.13, 'Delta': 78.56, 'JetBlue': 77.45, 'American': 77.21}, '2010': {'United': 85.16, 'Mesa': 83.32, 'American': 77.05, 'Southwest': 79.46, 'Skywest': 79.05, 'Delta': 77.37, 'JetBlue': 75.68}, '2011': {'Mesa': 83.73, 'Southwest': 81.33, 'United': 80.16, 'Skywest': 79.34, 'American': 76.35, 'Delta': 75.15, 'JetBlue': 73.34}, '2012': {'Delta': 86.54, 'Mesa': 85.0, 'Southwest': 83.13, 'American': 76.94, 'Skywest': 81.61, 'JetBlue': 79.13, 'United': 77.35}, '2013': {'Delta': 84.51, 'Endeavor': 80.27, 'Skywest': 79.66, 'United': 79.27, 'American': 72.1, 'Mesa': 77.39, 'Southwest': 76.7, 'JetBlue': 74.44}, '2014': {'Delta': 83.71, 'Skywest': 76.35, 'United': 75.99, 'American': 75.79, 'JetBlue': 75.43, 'Southwest': 73.01, 'Envoy': 68.79}, '2015': {'Delta': 85.89, 'American': 80.26, 'Skywest': 79.72, 'Southwest': 79.71, 'United': 78.15, 'JetBlue': 75.97, 'Envoy': 74.07}, '2016': {'Delta': 86.48, 'Skywest': 82.28, 'United': 81.71, 'Southwest': 80.8, 'American': 79.38, 'JetBlue': 75.01}, '2017': {'Delta': 85.4, 'United': 82.06, 'American': 80.35, 'Skywest': 80.01, 'Southwest': 78.66, 'JetBlue': 71.35}, '2018': {'Delta': 85.71, 'Skywest': 79.8, 'United': 79.68, 'Endeavor': 79.3, 'Southwest': 79.2, 'Republic': 78.57, 'American': 78.39, 'Mesa': 77.35, 'Envoy': 76.82, 'PSA': 75.28, 'JetBlue': 70.96}, '2019': {'Delta': 85.18, 'Endeavor': 80.93, 'Southwest': 80.24, 'Skywest': 79.23, 'Republic': 78.66, 'PSA': 78.09, 'United': 77.74, 'American': 77.01, 'Mesa': 76.31, 'Envoy': 76.09, 'JetBlue': 73.5}, '2020': {'Endeavor': 89.16, 'Republic': 86.93, 'Delta': 86.32, 'Southwest': 85.98, 'Skywest': 85.89, 'United': 83.56, 'American': 83.37, 'JetBlue': 82.14, 'Envoy': 81.98, 'Mesa': 81.61, 'PSA': 79.3}, '2021': {'Endeavor': 90.98, 'Delta': 87.85, 'PSA': 84.52, 'Republic': 84.35, 'Skywest': 82.45, 'Envoy': 82.32, 'United': 81.34, 'American': 80.53, 'Mesa': 77.14, 'Southwest': 75.78, 'JetBlue': 72.31}, '2022': {'Delta': 82.53, 'Skywest': 81.61, 'Envoy': 80.65, 'Endeavor': 80.53, 'United': 79.01, 'PSA': 77.96, 'Mesa': 77.43, 'Republic': 76.42, 'American': 74.94, 'Southwest': 73.18, 'JetBlue': 64.63}, '2023': {'Republic': 84.35, 'Endeavor': 84.11, 'Delta': 82.61, 'Skywest': 82.46, 'PSA': 82.06, 'Envoy': 80.84, 'United': 78.07, 'Southwest': 77.25, 'American': 75.94, 'JetBlue': 67.08}}

In [11]:
# adding minimum reported percentage for the years airlines did not report on time arrival percentage
minimum_on_time_arr_pct = {}
for year, airline_data in airline_on_time_arr_pct_data.items():
    # print(year)
    # print(airline_data)
    for airline in airline_data:
        if airline not in minimum_on_time_arr_pct:
            minimum_on_time_arr_pct[airline] = airline_data[airline]
        else:
            min = minimum_on_time_arr_pct[airline]
            current_val = airline_data[airline]
            if current_val < min:
                # min = current_val
                minimum_on_time_arr_pct[airline] = current_val

print('#### minimum percentage of on-time flights #####')
# print(minimum_on_time_arr_pct)

for year in airline_on_time_arr_pct_data:
    airline_data = airline_on_time_arr_pct_data[year].copy()
    # print(airline_data)
    for airline in list_of_airlines:
        if airline not in airline_data:
            airline_data[airline] = minimum_on_time_arr_pct[airline]
    airline_on_time_arr_pct_data[year] = airline_data

data_for_2024 = airline_on_time_arr_pct_data['2023'].copy()
airline_on_time_arr_pct_data['2024'] = data_for_2024      
print('### FINAL ON TIME PERCENTAGE DATA ####')
# print(airline_on_time_arr_pct_data)

#### minimum percentage of on-time flights #####
### FINAL ON TIME PERCENTAGE DATA ####

In [12]:
#convert airline name to airline code 
copy_air_line_on_time_arr_pct_data = {}
for year in airline_on_time_arr_pct_data:
    # copy_air_line_on_time_arr_pct_data[year] = {}
    copy_data = {}
    airline_data = airline_on_time_arr_pct_data[year]
    for airline in airline_data:
        airline_code = airline_name_code_map[airline]
        copy_data[airline_code] = airline_data[airline]
    copy_air_line_on_time_arr_pct_data[year] = copy_data
# copy_air_line_on_time_arr_pct_data

In [13]:
# Add airline arrival on time percentage column
with open('airline_on_time_arr_pct.json', 'w') as json_file:
    json.dump(copy_air_line_on_time_arr_pct_data, json_file, indent=4)

# json.dump(airport_on_time_dep_pct, indent=4)

In [14]:
airport_dep_file = open('airport_on_time_dep_pct.json', 'r')
airport_ranking_data = json.load(airport_dep_file)

airline_arr_file = open('airline_on_time_arr_pct.json', 'r')
airline_ranking_data = json.load(airline_arr_file)

In [15]:
#put weather data, airport on time dep pct, because you're processing date and airport origin here. 
def addDepPercentage(dateStr, origin):
    year = str(datetime.strptime(dateStr, '%m/%d/%Y').year)
    airport_on_time_dep_rate = airport_ranking_data[year][origin]
    return airport_on_time_dep_rate

def addArrPercentage(dateStr, carrier_code):
    year = str(datetime.strptime(dateStr, '%m/%d/%Y').year)
    airport_on_time_dep_rate = airline_ranking_data[year][carrier_code]
    return airport_on_time_dep_rate

In [16]:

# combinned_df = pd.DataFrame()
# if RawDataProcessing:
dataDir = 'data/arrivals/'
fileNames = os.listdir(dataDir)
dfList = []
for file in fileNames:
    filePath = dataDir + file
    print('Processing file {}'.format(filePath))
    if Path(filePath).is_dir():
        print('Skipping the directory {}'.format(filePath))
        continue
    raw_df = pd.read_csv(filePath)
    # raw_df.head()

    airline_df = pd.DataFrame()
    #dropping flights other than MCO, ORD, and JFK 
    # to keep additional filters (jetblue['Origin Airport'] == 'MCO') | (jetblue['Origin Airport'] == 'ORD') |
    filtered_data  = raw_df[(raw_df['Origin Airport'] == 'MCO') | (raw_df['Origin Airport'] == 'JFK') | (raw_df['Origin Airport'] == 'ORD')].copy()
    # filtered_data['Origin Airport'].unique()
    airline_df['DATE'] = filtered_data['Date (MM/DD/YYYY)']
    airline_df['DAY'] = [findDayOfWeek(date) for date in filtered_data['Date (MM/DD/YYYY)']]
    
    filtered_data['Flight Number'] = [flightNoStr(flightNo) for flightNo in filtered_data['Flight Number']]
    filtered_data['Flight No'] = filtered_data['Carrier Code'].str.cat(filtered_data['Flight Number'], sep=' ')
    airline_df['FLIGHT NUMBER'] = filtered_data['Flight No']

    airline_df['ORIGIN'] = filtered_data['Origin Airport']
    
    #converting time data to minutes
    filtered_data['Scheduled Arrival Time'] = [to_minutes(s) for s in filtered_data['Scheduled Arrival Time']] #to_minutes(step_1['Scheduled Arrival Time'])
    filtered_data['Actual Arrival Time'] = [to_minutes(s) for s in filtered_data['Actual Arrival Time']]
    filtered_data['Wheels-on Time'] = [to_minutes(s) for s in filtered_data['Wheels-on Time']]

    filtered_data['Scheduled Departure Time'] = filtered_data['Scheduled Arrival Time'] - filtered_data['Scheduled Elapsed Time (Minutes)']
    airline_df['DEPARTURE TIME'] = filtered_data['Scheduled Departure Time']
    airline_df['ARRIVAL TIME'] = filtered_data['Scheduled Arrival Time']
    # jetblue_df
    airline_df = airline_df[airline_df['ARRIVAL TIME']>=0] ##dropping data where flight departed one earlier date

    airline_df['CARRIER DELAY'] = filtered_data['Delay Carrier (Minutes)']
    airline_df['WEATHER DELAY'] = filtered_data['Delay Weather (Minutes)']

    airline_df['AIRPORT YEARLY ON-TIME DEP PERCENTAGE'] = [addDepPercentage(date, origin) for date, origin in zip(filtered_data['Date (MM/DD/YYYY)'], filtered_data['Origin Airport'])]
    
    airline_df['AIRLINE YEARLY ON-TIME ARR PERCENTAGE'] = [addArrPercentage(date, carrier_code) for date, carrier_code in zip(filtered_data['Date (MM/DD/YYYY)'], filtered_data['Carrier Code'])]

    # filtered_data['Arrival Delay (Minutes)']
    airline_df['ARRIVAL STATUS'] = [classifyDelay(delay) for delay in filtered_data['Arrival Delay (Minutes)']]

    # airline_df
    dfList.append(airline_df)
    
    # break
    # raw_data = pd.read_csv(file)
combined_df=pd.concat(dfList, ignore_index=True)
combined_df['DEPARTURE TIME'] = combined_df['DEPARTURE TIME'].astype(int)
# combined_df.to_csv('data/combined_arrival_data.csv', index=False)
combined_df

Processing file data/arrivals/Mesa_Airlines.csv
Processing file data/arrivals/JetBlue_Airlines.csv
Processing file data/arrivals/Endeavor_Air.csv
Processing file data/arrivals/Southwest_Airlines.csv
Processing file data/arrivals/United_Airlines.csv
Processing file data/arrivals/PSA_Airlines.csv
Processing file data/arrivals/Envoy_Airlines.csv
Processing file data/arrivals/Skywest_Airline.csv
Processing file data/arrivals/.ipynb_checkpoints
Skipping the directory data/arrivals/.ipynb_checkpoints
Processing file data/arrivals/Republic_Airline.csv
Processing file data/arrivals/American_Airlines.csv
Processing file data/arrivals/Delta_Airlines.csv

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,CARRIER DELAY,WEATHER DELAY,AIRPORT YEARLY ON-TIME DEP PERCENTAGE,AIRLINE YEARLY ON-TIME ARR PERCENTAGE,ARRIVAL STATUS
0,03/01/2009,Sunday,YV 7151,ORD,420,526,0.00,0.00,78.21,79.13,0
1,03/01/2010,Monday,YV 7287,ORD,1067,1167,0.00,0.00,77.53,83.32,0
2,03/01/2011,Tuesday,YV 7244,ORD,871,970,0.00,0.00,74.40,83.73,2
3,03/01/2012,Thursday,YV 3734,ORD,1256,1359,0.00,0.00,76.58,85.00,2
4,03/01/2013,Friday,YV 3731,ORD,895,997,0.00,116.00,70.37,77.39,1
...,...,...,...,...,...,...,...,...,...,...,...
14082,05/29/2019,Wednesday,AA 1488,ORD,1195,1302,0.00,0.00,74.94,77.01,2
14083,05/30/2019,Thursday,AA 1488,ORD,1195,1302,7.00,0.00,74.94,77.01,1
14084,05/31/2019,Friday,AA 1488,ORD,1195,1302,0.00,0.00,74.94,77.01,1
14085,04/09/2011,Saturday,DL 2033,JFK,1310,1398,0.00,0.00,77.51,75.15,0
14086,04/10/2011,Sunday,DL 2050,JFK,510,588,0.00,0.00,77.51,75.15,0

In [17]:
def formatDate(dateStr):
    date_data = dateStr.split('-')
    year = date_data[0]
    mon = date_data[1]
    day = date_data[2]
    
    return str(mon) + '/' + str(day) + '/' + str(year)
# def replaceDashWith
# def checkDateEqual(dateStr1,dateStr2)

In [18]:
weather_df_rw = pd.read_csv('data/weather-data-syracuse-2006-May2024.csv')
weather_df_rw['DATE'] = [formatDate(date) for date in weather_df_rw['DATE']]
weather_df_rw['weather_code'] = weather_df_rw['weather_code'].str.replace('-','_')
# weather_df_rw
# keep weather_code, tempmin, precipcover, snowdepth, windspeedmax, visibility, cloudcover
selected_columns = ['DATE', 'weather_code', 'tempmin', 'precipcover', 'snowdepth', 'windspeedmax', 'visibility', 'cloudcover']
weather_df = weather_df_rw[selected_columns]
#saving weather data for test
test_weather_df = weather_df[weather_df['DATE'].str.contains('2024')]
test_weather_df.to_csv('data/test_weather_data.csv', index=False)
# weather_df['DATE'].dtype
# combined_df['DATE'].dtype
flight_weather_df = pd.merge(combined_df, weather_df, on='DATE', how='inner')

In [19]:
flight_weather_df
flight_weather_df.isna().sum()

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,CARRIER DELAY,WEATHER DELAY,AIRPORT YEARLY ON-TIME DEP PERCENTAGE,AIRLINE YEARLY ON-TIME ARR PERCENTAGE,ARRIVAL STATUS,weather_code,tempmin,precipcover,snowdepth,windspeedmax,visibility,cloudcover
0,03/01/2009,Sunday,YV 7151,ORD,420,526,0.00,0.00,78.21,79.13,0,partly_cloudy_day,7.80,0.00,0.00,14.70,9.90,61.30
1,03/01/2010,Monday,YV 7287,ORD,1067,1167,0.00,0.00,77.53,83.32,0,cloudy,31.90,0.00,2.10,13.90,8.60,98.70
2,03/01/2011,Tuesday,YV 7244,ORD,871,970,0.00,0.00,74.40,83.73,2,partly_cloudy_day,20.90,0.00,0.70,17.60,9.70,63.50
3,03/01/2012,Thursday,YV 3734,ORD,1256,1359,0.00,0.00,76.58,85.00,2,snow,33.40,62.50,0.10,14.80,6.50,100.00
4,03/01/2013,Friday,YV 3731,ORD,895,997,0.00,116.00,70.37,77.39,1,cloudy,28.90,0.00,0.20,15.90,7.80,100.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14082,05/29/2019,Wednesday,AA 1488,ORD,1195,1302,0.00,0.00,74.94,77.01,2,partly_cloudy_day,52.00,0.00,0.00,10.00,9.80,89.40
14083,05/30/2019,Thursday,AA 1488,ORD,1195,1302,7.00,0.00,74.94,77.01,1,partly_cloudy_day,52.80,0.00,0.00,10.20,9.90,74.00
14084,05/31/2019,Friday,AA 1488,ORD,1195,1302,0.00,0.00,74.94,77.01,1,partly_cloudy_day,55.80,0.00,0.00,11.10,8.30,59.20
14085,04/09/2011,Saturday,DL 2033,JFK,1310,1398,0.00,0.00,77.51,75.15,0,partly_cloudy_day,37.20,0.00,0.00,8.90,9.90,71.60
14086,04/10/2011,Sunday,DL 2050,JFK,510,588,0.00,0.00,77.51,75.15,0,partly_cloudy_day,41.10,0.00,0.00,14.70,9.90,71.20

DATE                                     0
DAY                                      0
FLIGHT NUMBER                            0
ORIGIN                                   0
DEPARTURE TIME                           0
ARRIVAL TIME                             0
CARRIER DELAY                            0
WEATHER DELAY                            0
AIRPORT YEARLY ON-TIME DEP PERCENTAGE    0
AIRLINE YEARLY ON-TIME ARR PERCENTAGE    0
ARRIVAL STATUS                           0
weather_code                             0
tempmin                                  0
precipcover                              0
snowdepth                                0
windspeedmax                             0
visibility                               0
cloudcover                               0
dtype: int64

In [20]:
# skipping manually stiching weather data.

# dates = combined_df['DATE'].unique()
# flightList = []
# for date in dates:
#     weather_data = weather_df[weather_df['DATE'] == date].copy()
#     weather_data
#     # weather_data = weather_data.drop(columns=['DATE'])
#     flight_data = combined_df[(combined_df['DATE'] == date)]
#     flight_with_weather = pd.merge(flight_data, weather_data, on='DATE', how='inner')
#     flightList.append(flight_with_weather)
#     break

In [21]:
flight_weather_df.to_csv('data/data.csv', index=False)

In [22]:
# if RawDataProcessing:
dates = flight_weather_df['DATE'].unique()
# finalData =  pd.DataFrame()
# MCO_flightList = []
# JFK_flightList = []
# ORD_flightList = []
totalFlightList = []
totalFlights = 0
for date in dates:
    flightList_MCO = flight_weather_df[(combined_df['DATE'] == date) & (combined_df['ORIGIN'] == 'MCO')]
    sortedList_MCO = flightList_MCO.sort_values(by='DEPARTURE TIME', ascending=True)
    mco_f = sortedList_MCO.shape[0]
    # print('{} flights on date {} from MCO'.format(mco_f, date))
    # sortedList_MCO
    sortedList_MCO['previous_flight_status'] = sortedList_MCO['ARRIVAL STATUS'].shift(periods=1)
    # sortedList_MCO
    totalFlightList.append(sortedList_MCO)

    flightList_JFK = flight_weather_df[(combined_df['DATE'] == date) & (combined_df['ORIGIN'] == 'JFK')]
    sortedList_JFK = flightList_JFK.sort_values(by='DEPARTURE TIME', ascending=True)
    jfk_f = sortedList_JFK.shape[0]
    # print('{} flights on date {} from JFK'.format(jfk_f, date))
    # sortedList_JFK
    sortedList_JFK['previous_flight_status'] = sortedList_JFK['ARRIVAL STATUS'].shift(periods=1)
    # sortedList_JFK
    totalFlightList.append(sortedList_JFK)

    flightList_ORD = flight_weather_df[(combined_df['DATE'] == date) & (combined_df['ORIGIN'] == 'ORD')]
    sortedList_ORD = flightList_ORD.sort_values(by='DEPARTURE TIME', ascending=True)
    ord_f = sortedList_ORD.shape[0]
    # print('{} flights on date {} from ORD'.format(ord_f, date))
    # sortedList_ORD
    sortedList_ORD['previous_flight_status'] = sortedList_ORD['ARRIVAL STATUS'].shift(periods=1)
    # sortedList_ORD
    totalFlightList.append(sortedList_ORD)
    flightsOnDay = mco_f + jfk_f + ord_f
    # print('{} flights on date {}'.format(flightsOnDay, date))
    totalFlights = totalFlights + flightsOnDay
    # if i==5:
    #     break
    # i+=1
print('{} flights in total'.format(totalFlights))
finalData = pd.concat(totalFlightList, ignore_index=True) 
finalData.fillna(0, inplace=True)
finalData['DEPARTURE TIME'] = finalData['DEPARTURE TIME'].astype(int)
finalData['previous_flight_status'] = finalData['previous_flight_status'].astype(int)
finalData.to_csv('data/data_with_prev_flight_status.csv', index=False)
    # finalData = pd.concat([finalData, sortedList], ignore_index=True)
# finalData

14087 flights in total